.search {
  position: absolute;
  pointer-events: none;
  opacity: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 100%;
  width: 2.42rem;
  height: 2.42rem;

  transition: 0.3s;

  &:hover {
    background-color: rgb(240, 240, 240);
  }

  &__input {
    background-color: transparent;
    outline: none;
    width: 100%;
  }

  &__hide {
    position: absolute;
    right: -2.2rem;
    color: var(--text-base);
    font-size: 0.84rem;
  }

  .indicator {
    position: relative;

    &__icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.3s;
    }

    .show {
      opacity: 1;
    }

    .hidden {
      opacity: 0;
    }
  }


}

.search_opened {
  width: 30rem;
  display: flex;
  border-radius: 30px;
  padding: 0 1.05rem;
  opacity: 1;
  pointer-events: all;

  background-color: #F6F6F6;

  &:hover {
    background-color: #F6F6F6;
  }
}

.hidden {
  opacity: 0;
}
