.header {

  position: relative;
  width: 100%;
  height: 4.52rem;
  z-index: 100;
  padding: 0 2.42rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 851px) {
    padding: 0 10px;
  }

  &__center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.42rem;
  }

  .navigation {
    display: flex;
    gap: 1.42rem;

    transition: 0.5s;

    &__item {
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }

}

.hidden {
  opacity: 0;
  pointer-events: none;
}
