.home {

  .musicList {

    display: flex;
    flex-direction: column;
    gap: 1.42rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: 851px) {
      display: flex;
      flex-direction: column;
    }
  }
}
