.startPanel {

  display: flex;
  align-items: center;

  &__button {
    position: relative;
    z-index: 10;
    width: 3.42rem;
    height: 3.42rem;
    background-color: #e7e7e7;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.4s;

    &:hover {
      background-color: rgb(82, 82, 82);

      svg {
        path {
          fill: #fff
        }
      }
    }

    &_left {
      transform: rotate(-90deg);

      &:active {
        // transform: rotate(-90deg) translate(0px, -5px);
        animation: slideLeft 1s forwards;
      }
    }

    &_right {
      transform: rotate(90deg);

      &:active {
        // transform: rotate(90deg) translate(0px, 5px);
        animation: slideRight 1s forwards;
      }
    }
  }

  &__trackSlider {
    display: flex;
    width: fit-content;
    margin: 0 auto;

    width: 17.84rem;
    overflow: visible;

    transition: 0.5s;

    @media (max-width: 1278px) {
      width: 14.84rem;
    }

    @media (max-width: 1127px) {
      width: 10.84rem;
    }

  }
}

@keyframes slideLeft {
  0% {
    transform: rotate(-90deg) translate(0, 0);
  }

  100% {
    transform: rotate(-90deg) translate(0, -5px);
  }
}

@keyframes slideRight {
  0% {
    transform: rotate(90deg) translate(0, 0);
  }

  100% {
    transform: rotate(90deg) translate(0, 5px);
  }
}
