.diskWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
        .disk {
            transform: scale(1.1);
        }
    }
}

.disk {
    position: relative;
    min-width: 17.84rem;
    min-height: 17.84rem;
    aspect-ratio: 1/1;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;

    border: 2px solid #545454;

    &:hover {
        border-radius: 0;
        scale: 1.1;
    }

    cursor: pointer;

    &__centerCircle {
        position: relative;
        width: 3.42rem;
        height: 3.42rem;
        background-color: #ebebeb;
        border-radius: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            path {
                fill: #000;
            }
        }
    }
}

.trackInfo {
    margin-top: 0.84rem;
    opacity: 1;

    transition: 0.3s;

    &_hidden {
        opacity: 0;
    }

    &__name {
        font-size: 1.25rem;
    }

    p {
        text-align: center;
    }
}
